mixin icon(name)
  svg(class="icon-" + name)
    use(xlink:href="#icon-" + name)

doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *")
    meta(name="format-detection" content="telephone=no")
    meta(name="msapplication-tap-highlight" content="no")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
    link(rel="stylesheet" type="text/css" href="css/app.css")
    
    title Cordova Test App

  body
    header.topbar
      h1.topbar__title
        +icon('cordova')
        span.topbar__title--seperator &
        +icon('hitfox')
      button.topbar__button#upload(type="submit")
        +icon('camera')
    section.image-grid#images
    
    include assets/icons.svg
    script(type="text/javascript" src="cordova.js")
    script(type="text/javascript" src="js/app.js")
